/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    /* Set width of the sidebar */
    height: 100%;
    background-color: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
    transition: width 0.3s ease-in-out;
    z-index: 10;
    padding: 10px;

}

.sidebar.shrink {
    width: 70px;
    /* Shrink the sidebar */
    background-color: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
    ;
    /* Set the color when sidebar is shrunk */
}

.sidebar.shrink .logo-name {
    display: none;
    /* Hide logo name when sidebar is shrunk */
}

.sidebar.shrink .menu-items .nav-links li a span {
    display: none;
    /* Hide text in links when sidebar is shrunk */
}

.sidebar .logo-name {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .menu-items {
    margin-top: 30px;
}

.sidebar .menu-items .nav-links {
    list-style: none;
}

.sidebar .menu-items .nav-links li {
    padding: 15px;
}

.sidebar .menu-items .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 1px;
    transition: background-color 0.3s ease;
}

.sidebar .menu-items .nav-links li a:hover {
    background-color: transparent;
}

.sidebar .menu-items .logout-mode {
    margin-top: 20px;
}

.sidebar .menu-items .logout-mode li a {
    color: black;
    font-size: 1rem;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
    font-size: 30px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: -50px;
    /* Position hamburger icon to the right of sidebar */
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    border-radius: 50%;

}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

/* Responsive for Sidebar and Top Navbar */
@media screen and (max-width: 768px) {
    .top-nav-container .top-nav-links {
        display: none;
    }

    .sidebar {
        left: 0;
        top: 0;
        width: 250px;
    }

    .sidebar.shrink {
        width: 70px;
    }
}


/* Table Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    position: relative;
    max-width: 900px;
    width: 200%;
    border-radius: 6px;
    padding: 10px;
    margin: 0 1px;
    background-color: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));

}

.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;

}

.container form {
    position: relative;
    margin-top: 0px;
    min-height: 600px;
    background-color: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
    overflow: hidden;
}

.container form .form {
    position: absolute;
    background-color: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
    transition: 0.3s ease;
}

.container form .form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.form-container::after {
    content: "";
    display: block;
    clear: both;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.form .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Aligns the button to the left */
}

.container form button,
.backBtn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: rgb(109, 67, 0);
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 10px 20px;
}

.container form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: rgb(109, 67, 0);
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button,
.backBtn {
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}

/* table */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;

}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 20px;
}

/* Reduce spacing for the first table (Get Details result) */
.table-container:first-of-type {
    margin-top: 90px;
    /* Reduce space between button and first table */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 300px;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #0a19e9;
    padding: .625em;
    text-align: center;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #806edc;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
   
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px; /* Reduce space between form and table */
}

/* Table Header */
.styled-table thead {
    background: #007bff;
    color: white;
}

/* Table Cells */
.styled-table th, .styled-table td {
    padding: 10px; /* Adjust padding */
    text-align: center;
    border: 1px solid #ddd;
}

/* Table Hover Effect 
.styled-table tbody tr:hover {
    background: #f2f2f2;
}*/

/* Error Message */
.error-msg {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 5px;
}